
#canvas0 { background-color: #bde0f5; }

#radio {width: max-content;}

#radio1 {width: max-content;}

#tableControl {width: max-content;}

#label6 input {
    max-width: max-content;
    min-width: 100px;
}

#tr th {min-width:70px;}

td input {
    min-width: 70px;
    max-width: 70px;
}